#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}

#buttons {
  margin-bottom: 10%;
}

#feedForm {
  margin-left: 30%;
}

#question {
  margin-top: 5%;
}

#textArea {
  display: inline-block;
  border: solid 1px rgba(2, 126, 19, 0.5);
  min-height: 10px;
  width: 300px;
}
